{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS_files/forgotPass.css' %}">
    <title>Eduvo</title>
</head>
<body>
    <div class="container">
        <h1>RESET YOUR PASSWORD</h1>
        <p>enter your email to receive a password <br> reset link </p>

        <form action="">
            <label for="email">Email</label>
            <div class="email">
                <input type="email" placeholder="Enter your email adress" required>
                <img src="{% static 'assets/img/Email.png'%}" alt="email-icon">
            </div>

            <button type="submit">Send Reset Link</button>
        </form>


        <a href="../">Back To Login</a> <!--  the path of index page makach, return  -->


        <p>Need help ? Contact support</p>
    </div>
</body>
</html>