{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'CSS_files/styl.css' %}">

    {% block head %}{% endblock %}

    <title>{% block title %}Eduvo{% endblock %}</title>
</head>




<body>

    <!-- Navbar -->

    <nav class="nav-bar">
        <a href="{% url 'website:homePage' %}" style="text-decoration: none; color: inherit;">
            <div class="logo">
                <img class="logo-image" src="{% static './assets/image/Clippathgroup.png' %}"
                    style="filter: brightness(0) invert(1);" />
                <h1 class="logo-txt">Eduvo</h1>
            </div>
        </a>
        <div class="nav-links">
            <a href="{% url 'website:homePage' %}">Home <i class="fa-solid fa-angle-down"></i></a>
            <a href="{% url 'courses:Courses' %}">Courses <i class="fa-solid fa-angle-down"></i></a>
            <a href="{% url 'jobs:Jobs' %}">Jobs <i class="fa-solid fa-angle-down"></i></a>
            <a href="{% url 'users:Profile' %}">Profile <i class="fa-solid-fa-angle-down"></i></a>
            
 
        </div>
        <div class="register">
            <button class="register-btn login-btn"><a href="{% url 'users:Login' %}"
                    style="color: inherit; text-decoration: none;">Log in</a></button>
            <button class="register-btn signup-btn"><a href="{% url 'users:Signup' %}"
                    style="color: inherit; text-decoration: none;">Sign up</a></button>
        </div> 

            {% comment %} <div class="register">
            <p class="username">youcef moulai</p>
            <img src="/profile.svg" alt=""> {% endcomment %}
        </div>
    </nav>


    <!-- Page content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    <div class="footer">
        <div class="footer-hero">
            <a href="{% url 'website:homePage' %}" style="text-decoration: none;">
                <div class="logo"><img src="{% static './assets/image/logo project.png' %}" alt=""></div>
            </a>
            <p>Eduvo is a smart e-learning platform connecting education <br>
                with employment. We offer hands-on courses, real-world projects, and <br>
                career guidance to help learners get job-ready.</p>
            <div class="footer-hero-links">
                <a href="">terms of services</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies settings</a>
            </div>
        </div>
        <div class="explore">
            <h1>Explore</h1>
            <a href="{% url 'website:homePage'%}">Home</a>
            <a href="{% url 'courses:Courses' %}">Courses</a>
            <a href="{% url 'jobs:Jobs' %}">Jobs</a>
        </div>
        <div class="company">
            <h1>Company</h1>
            <a href="">About us</a>
            <a href="">Careers</a>
            <a href="">Partnerships</a>
            <a href="">Press & Media</a>
            <a href="">Affiliate Program</a>
        </div>
        <div class="socials">
            <h1>Socials</h1>
            <div class="socials-wrraper">
                <i class="fab fa-x-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>

    <!-- <script src="{% static './JS_files/script1.js' %}"></script> -->
</body>

</html>