body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: #f0f6ff;
    font-family: 'Outfit', sans-serif;

}

/* Navbar */
.navbar {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.nav-left {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.container {
    display: flex;
    padding: 40px;
    gap: 40px;
}


.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar>div {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.section-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.skills li {
    list-style: none;
    margin-bottom: 5px;
}

/* History */
.history-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}



.history-logo {
    width: 35px;
    height: 35px;
}

.history-info {
    margin-left: 15px;
}

/* Main */
.main {
    flex: 1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.job-list {
    margin-top: 20px;
}

.job-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.job-logo {
    width: 80px;
    height: 50px;
}

.job-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-left: 15px;
    font-size: 14px;
}

.job-info span {
    width: 25%;
    text-align: center;
}

.job-button {
    background: #d7ecff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    color: #0b3d91;
    cursor: pointer;
}

/* See All Button */
.see-all-button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px 16px;
    background: #d7ecff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: #0b3d91;
    cursor: pointer;
}



.all-jobs-section {
    padding: 30px;
}

.all-jobs-section h2 {
    margin-bottom: 20px;
}

.all-job-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.all-job-card img {
    width: 40px;
    height: 40px;
}

.apply-btn {
    background: #3DB2FF40;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    color: #0b3d91;
    cursor: pointer;
}