{% extends "base.html" %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS_files/Jobs.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>


    <div class="container">
        <div class="sidebar">
            <div class="profile-section">
                <div style="text-align:center">
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="Profile" class="profile-img">
                    {% else %}
                        <img src="https://ui-avatars.com/api/?name=Eduvo&background=3B82F6&color=ffffff&size=128&rounded=true" alt="Default Avatar" class="profile-img">
                    {% endif %}
                    <h3>{{ profile.get_full_name }}</h3>
                    <p>{{ location }}</p>
                </div>
                <div class="skills">
                    <div class="section-title">Your skills</div>
                    <ul>
                        {% for skill in skills %}
                            <li>. {{ skill }}</li>
                        {% empty %}
                            <li>No skills listed</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                    <div class="history">
            <div class="section-title">Historie</div>
            {% for application in history_jobs %}
                <div class="history-item">
                    {% if application.job.posted_by.companyprofile.image %}
                        <img src="{{ application.job.posted_by.companyprofile.image.url }}" class="history-logo" alt="icon">
                    {% else %}
                        <img src="{% static 'assets/img/job-logo.png' %}" class="history-logo" alt="icon">
                    {% endif %}
                    <div class="history-info">
                        <div>{{ application.job.title }}</div>
                        <div>{{ application.job.location }}</div>
                    </div>
                </div>
            {% empty %}
                <div>No recent history</div>
            {% endfor %}
            <button class="see-all-button" onclick="window.location.href='{% url 'jobs:Historie' %}'">See All</button>
        </div>
        </div>

        <div class=" main">
            <h2>Explore New Job Opportunities</h2>
            <div class="job-list">
                {% for job in new_jobs %}
                <div class="job-item">
                    {% if job.posted_by.companyprofile.image %}
                        <img src="{{ job.posted_by.companyprofile.image.url }}" class="job-logo" alt="{{ job.posted_by.companyprofile.company_name }} logo">
                    {% else %}
                        <img src="{% static 'assets/img/Clip path group.png' %}" class="job-logo" alt="Company logo" >
                    {% endif %}
                    <div class="job-info job-grid">
                        <span>{{ job.posted_by.username }}</span>
                        <span>{{ job.title }}</span>
                        <span>{{ job.location }}</span>
                        <span>{{ job.work_mode }}</span>
                    </div>
                    <a href="{% url 'jobs:job-model' job.id %}" class="job-button">voir l'offre</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <section class="all-jobs-section">
        <h2>Our Job offers</h2>
        {% for job in all_jobs %}
        <div class="job-item">
            {% if job.posted_by.companyprofile.image %}
                <img src="{{ job.posted_by.companyprofile.image.url }}" class="job-logo" alt="{{ job.posted_by.companyprofile.company_name }} logo">
            {% else %}
                <img src="{% static 'assets/img/job-logo.png' %}" class="job-logo" alt="Company logo">
            {% endif %}
            <div class="job-info job-grid">
                <span>{{ job.posted_by.username }}</span>
                <span>{{ job.title }}</span>
                <span>{{ job.location }}</span>
                <span>{{ job.work_mode }}</span>
            </div>
            <button class="job-button" onclick=window.location.href="{% url 'jobs:job-model' job.id %}">voir l'offre</button>
        </div>
        {% endfor %}

        <!-- <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>

        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div>


        <div class="all-job-card">
            <img src="{% static 'assets/img//accounting-logo.png' %}" alt="Company Logo">
            <span>Webify Solutions</span>
            <span>back-end developer</span>
            <span>Algeria</span>
            <span>Remote</span>
            <span>April 25</span>
            <button class="apply-btn">voir l'offre</button>
        </div> -->

    </section>

</body>

</html>


{% endblock content %}
